---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - gateway.inference-gateway.io
  resources:
  - inferenceroutes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.inference-gateway.io
  resources:
  - inferenceroutes/finalizers
  verbs:
  - update
- apiGroups:
  - gateway.inference-gateway.io
  resources:
  - inferenceroutes/status
  verbs:
  - get
  - patch
  - update
